html {
    margin: 0;
    font-family: "Helvetica";
    font-size: 125%;
}

#content {
    padding-top: 10px;
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

img {
    vertical-align: middle;
}

#user_name {
    padding-top: 5px;
    float: right;
}

#social_name {
    padding: 5px;
}

.link {
    color: #0000ee;
}

#socials {
    padding-top: 15px;
    padding-bottom: 75px;
}

.social {
    padding-top: 5px;
}

.title {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 125%;
}

#sign_up {
    margin: auto;
    align: center;
}

#social_link {
    float: right;
    vertical-align: middle;
}

.nav_bar_item {
    height: 20px;
    padding: 5px;
    float: right;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    font-size: 70%;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}

#new_social_submit {
    float: right;
    padding: 5px;
}

#add_new_form {
    padding-bottom: 20px;
}

#user_name_input {
    float: right;
    padding: 5px;
}

#login_signup {
    max-width: 600px;
    padding-top: 15px;
    margin: 0 auto;
    font-size: 125%;
}

#submit_buttons {
    display: block;
    padding-top: 5px;
}

#username_input, #email_input {
    display: block;
    height: auto;
    margin-bottom: 10px;
    width: 95%;
    font-size: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

#login_link_li {
    padding-top: 5px;
    float: right;
}

#login_link {
    text-decoration: none;
    color: black;
}

#disclaimer {
    font-size: 50%;
    padding-top: 5px;
}
