<!DOCTYPE html>
<html>
<head>
    <title>SoDir</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="icon" href="{{ static_url("favicon.png") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navbar">
        <ul>
            <li class="title"><a class="title" href="http://sodir.xyz">SoDir</a></li>
            <li id="user_name">{{ user_name }}</li>
        </ul>
    </div>
    <div id="socials">
        <ul>
            {% for social in socials %}
                <ul class="social">
                    <li id="social_name">{{ social[0] }}</li>
                    <li class="nav_bar_item"><img src="{{ static_url("not_verified.png") }}" alt="check" height="20" width="20"></li>
                    <li class="nav_bar_item"><a class="link" href="{{ social[1] }}">{{ social[2] }}</a></li>
                </ul>
            {% end %}
        </ul>
    </div>
</body>
</html>
