<!DOCTYPE html>
<html>
<head>
    <title>SoDir | Login/Signup</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="icon" href="{{ static_url("favicon.png") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navbar">
        <ul>
            <li class="title"><a class="title" href="http://sodir.xyz">SoDir</a></li>
        </ul>
    </div>
    <div id="login_signup">
        <form method="post" action="">
            <input id="username_input" type="text" name="username" placeholder="Username">
            <input id="email_input" type="email" name="email" placeholder="Email Address">
            <div id="submit_buttons">
                <input id="login_button" type="submit" value="Login">
                <input id="singup_button" type="submit" value="Signup">
            </div>
            {% module xsrf_form_html() %}
            <div>
                {{ message }}
            </div>
        </form>
    </div>
    <div id="footer">
        <p><a href="http://sodir.xyz">About</a></p>
        <p>Made with &lt;3 by <a href="http://labs.ninesixtwo.xyz">NINESIXTWO</a> in the UK.</p>
    </div>
</body>
</html>
