<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#ffffff",
      "text": "#000000"
    },
    "button": {
      "background": "#000000",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "position": "top",
  "static": true
})});
</script>
<head>
    <title>SoDir | Login/Signup</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="icon" href="{{ static_url("favicon.png") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="content">
        <div id="navbar">
            <ul>
                <li class="title"><a class="title" href="/">SoDir</a></li>
            </ul>
        </div>
        <div id="login_signup">
            <form method="post" action="">
                <input id="username_input" type="text" name="username" placeholder="Username">
                <input id="email_input" type="email" name="email" placeholder="Email Address">
                <div>
                    {{ message }}
                </div>
                <p id="disclaimer">
                    By clicking 'Login' or 'Signup' you are confirming that you have read and agree to the <a href="/sodir/privacy">privacy policy</a> and <a href="/sodir/terms">terms and conditions of use</a>.
                </p>
                <div id="submit_buttons">
                    <input id="login_button" type="submit" value="Login">
                    <input id="singup_button" type="submit" value="Signup">
                </div>
                {% module xsrf_form_html() %}
            </form>
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
