<!DOCTYPE html>
<html>
<head>
    <title>SoDir | Social Directories</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="icon" href="{{ static_url("favicon.png") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navbar">
        <ul>
            <li class="title"><a class="title" href="http://sodir.xyz">SoDir</a></li>
        </ul>
    </div>
    <div id="socials">
        <p>
            There isn't any directory associated with that user name.
        </p>
        <p>
            SoDir allows you to make a list (we call it a directory) of all your social media accounts, blogs, basically anything with a web address, and to make that list easy to find for anyone you want to find it.
        </p>
        <p>
            After signing up for SoDir, you'll get a shareable link. We suggest putting this link in the 'bio' section of your public social media accounts, so it's easier for people to find your other public social media accounts.
        </p>
    </div>
    <div id="footer">
        <p><a href="http://sodir.xyz">About</a></p>
        <p>Made with &lt;3 by <a href="http://labs.ninesixtwo.xyz">NINESIXTWO</a> in the UK.</p>
    </div>
</body>
</html>
